$secondary: #99999B;
$primary-color: #074799;
$accent: black;
$font-family: 'Arial, Helvetica, sans-serif';

$colors: (
    primary: #074799,
    secondary: #99999B,
    accent: #000000,
);

$font-sizes: (
    small: 12px,
    medium: 16px,
    large: 20px,
);