.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.footer-logo, .footer-social {
    text-align: center;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer-logo img, .footer-social img {
    width: 50px;
    height: 50px;
}

.footer-social .social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer a {
    text-decoration: none;
    color: black;
}